<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brofistcorp.embaixadinha" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Embaixadinha</name>
    <description>
        A TAP game that you have to keep the ball in the air.
    </description>
    <author email="contact@brofistcorp.com" href="http://brofistcorp.com">
        BroFist Team
    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="Accelerometer" value="org.apache.cordova.AccelListener" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/assets/icon-72x72.png" density="hdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
