body {
    margin: 0px 0px 1px 0px;
    background: #000;
}

@font-face {
    font-family: 'Fixedsys';
    src: url('../assets/font/fixedsys.ttf') format('truetype');
}

/*
#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/misc/orientation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}
*/